<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practitioner Dashboard</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
    <h1>Welcome to the Practitioner Dashboard</h1>
    <p>This is your dashboard where you can manage your patients.</p>
    <ul>
        <li>
            <a href="/files/upload">Upload New Health Record</a>
        </li>
        <li>
            <a href="/files/files_list">View Patient Files</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
</body>
</html>